@use "base" as *;

.header {
	width: 100%;
	padding: 10px 0;
	background-color: #ffffff;
	border-bottom: 1px solid black;
}

.header a {
	color: $black;
	text-decoration: none;
}

.header__inner {
	display: flex;
}

.header__nav {
	margin-left: auto;
}

.header__logo {
	max-width: 158px;
}