@use "base" as *;

.accordion__details {
	overflow: hidden;
	text-align: center;
}

.accordion__content {
	box-sizing: border-box;
	max-height: 0;
	overflow: hidden;
	padding: 0 10px;
	border: 2px solid transparent;
	transition: max-height 400ms ease-out, border 0ms 400ms linear;
}

.accordion__details[open] + .accordion__content {
	max-height: 100%;
	border-color: #888;
	transition: max-height 400ms ease-out, border 0ms linear;
}

.accordion__details[open] span::before {
	rotate: 90deg;
	transition: rotate 200ms ease-out;
}


.accordion__summary {
	display: block;
}

.accordion__summary::-webkit-details-marker {
	display: none;
}

.accordion__summary span {
	position: relative;
	display: flex;
	width: 100%;
	align-items: center;
	padding-left: 1rem;
	background: $primary-color;
	color: #fff;
	height: 4rem;
}

.accordion__summary span:hover {
	cursor: pointer;
}

.accordion__summary span::before {
	content: "►";
	font-size: 1rem;
	display: flex;
	align-items: center;
	margin-right: 0.5rem;
	transition: rotate 200ms 400ms ease-out;
}
