@use "base" as *;

.accordion__details {
    overflow: hidden;
    text-align: left;
}

.accordion__details ~ .accordion__details {
    margin-top: rem(24px);
}

.accordion__content {
    box-sizing: border-box;
    max-height: 0;
    overflow: hidden;
    margin: 0;
    padding: rem(24px);
    border: 2px solid transparent;
    transition: max-height 400ms ease-out, border 0ms 400ms linear;
}

.accordion__details[open]>.accordion__content {
    position: relative;
    top: -1px;
    max-height: 100%;
    border-color: $black;
    border-width: 1px;
    transition: max-height 400ms ease-out, border 0ms linear;
}

.accordion__details[open] span::before {
    rotate: 90deg;
    transition: rotate 200ms ease-out;
}


.accordion__summary {
    display: block;
    padding-top: rem(16px);
    padding-bottom: rem(16px);
    border: 1px solid $black;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}

.accordion__summary span {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 1rem;
    height: 4rem;
}

.accordion__summary span:hover {
    cursor: pointer;
}

.accordion__summary span::before {
    content: "►";
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    transition: rotate 200ms 400ms ease-out;
}