@use "base" as *;

.button {
	display: inline-block;
	padding: rem(12px) rem(24px);
	color: #ffffff;
	background-color: $primary-color;
	text-decoration: none;
	transition: 0.3s;
	font-family: $accent-font;
}

.button:hover {
	filter: brightness(1.2);
}