@use "base" as *;

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 1px;
    border-radius: 25px;
    box-shadow: 0 3px 3px 0 gray;
}

.card__link-block {
    color: inherit;
    text-decoration: none;
    transition: 0.3s;
}

.card__link-block:hover,
.card__link-block:focus {
    scale: 1.02;
    filter: brightness(1.1);
}

.card__img {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.card__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    padding: rem(8px) rem(16px);
}

.card__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__category {
    display: inline-block;
    margin: 4px;
    padding: 4px 8px;
    font-size: rem(14px);
    border: 1px solid black;
    border-radius: 4px;
}

.card__heading {
    font-size: rem(20px);
    margin-top: rem(8px);
    margin-bottom: 0;

    @include mq("md") {
        font-size: rem(22px);
    }
}

.card__featured {
    color: $primary-color;
}

.card__excerpt {
    flex-grow: 1;
    margin-top: rem(8px);
    font-size: rem(16px);
}

.card__readmore {
    display: table;
    margin-top: rem(24px);
    margin-left: auto;
    margin-right: auto;
    padding: rem(8px) rem(16px);
    color: $black;
    background-color: $secondary-color;
    text-decoration: none;
    border: 1px solid $black;
    border-radius: rem(16px);
    transition: .3s;
}

.card__readmore:hover,
.card__readmore:focus {
    background-color: $accent-color;
}