@use "base" as *;

$gap: rem(32px);

.cards {
    gap: $gap;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;

    @include mq("md") {
        flex-direction: row;
    }
}

.cards__item {
    max-width: rem(480px);

    @include mq("md") {
        width: calc((100% - $gap*2) / 3);
        min-width: rem(320px);
    }
}
