@use "base" as *;

.heading {
	margin-top: rem(48px);
	margin-bottom: rem(48px);
	color: $primary-color;
	font-style: italic;
	font-weight: bold;
	font-size: rem(32px);
	@include mq("md") {
	margin-top: rem(64px);
	margin-bottom: rem(64px);
		font-size: rem(48px);
	}
}