@use "base" as *;
// ホームページのみに使用する設定

// アニメーションセクション
.hero {
    position: relative;
    z-index: 20;
    width: 100%;
    // 検索バーが出ていてもスクリーンの端から端まで計算される
    height: 100lvh;
    min-height: rem(400px);
}

.hero__inner {
    position: absolute;
    overflow: hidden;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: rem(32px);
    width: 100%;
    max-width: rem(1340px);
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 20px;
    padding-right: 20px;
}

.hero__message-text {
    margin: 0;
    color: $white;
    font-size: rem(40px);
    line-height: 1.2;
    font-weight: bold;
    text-shadow: 10px 10px 10px #000000;
    -webkit-text-stroke: 2px #000000;

    @include mq ("sm") {
        font-size: rem(60px);
    }

    @include mq("lg") {
        font-size: rem(80px);
        -webkit-text-stroke: 3px #000000;
    }
}

.hero__message-text:nth-of-type(3) {
    color: $yellow;
    font-family: $headline-font;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
}

.hero__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    > img {
        height: 100%;
    }
}

.hero__credit {
    position: absolute;
    top: 0;
    right: 5%;
    color: $white;
    font-size: rem(32px);
}

.projects {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 55%;
    padding-bottom: rem(20px);
    aspect-ratio: 3/4;
    background-image: url("../images/home/projects-sp.jpg");
    background-size: cover;

    @include mq("md") {
        margin-top: rem(120px);
        padding-top: 0;
        padding-bottom: 0;
        aspect-ratio: auto;
        background-image: none;
    }

    // マスクより上に表示
    >* {
        position: relative;
        z-index: 10;
    }

}

.projects__content {
    @include mq("md") {
        width: 58%;
    }

}

// 背景画像の上から被せるマスク
.projects::before {
    content: "";
    position: absolute;
    // 他の要素より下に表示（背景画像の上にのみ被せる）
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.5);

    @include mq("md") {
        display: none;
    }
}

.projects__inner {
    display: flex;
    justify-content: space-between;
}

.projects__heading {
    margin: 0;
}

.projects__paragraph {
    // <768pxでは黒色のマスクに合わせて白を使用
    color: $white;

    @include mq("md") {
        // デスクトップでは親要素の色をそのまま（専用の色を指定しない）
        color: inherit;
    }
}

.projects__image-box {


    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;

    // デスクトップでは隠す（下のbackground imageを使用）
    @include mq("md") {
        position: relative;
        width: 40%;
        height: auto;
    }
}

.projects__image-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-image: linear-gradient(to left, rgba($white, 0) 0%, rgba($white, 1) 100%);
    width: 30%;
    height: 100%;
}

.projects__button {
    margin-top: 4rem;
}

.mission {
    margin-top: 0;
    padding-top: rem(24px);
    padding-bottom: rem(320px);
    width: 100%;
    background-size: cover;
    background-position: center;

    @include mq("md") {
        padding-top: rem(32px);
        padding-bottom: rem(400px);
    }
}

.mission__content {
    padding: $padding-sp;
    background-color: rgba($black, 0.5);
    border-radius: 30px;

    @include mq("md") {
        padding: $padding-pc;
        width: 720px;
    }
}

.mission__wrapper {
    width: 100%;
    padding: $padding-sp;
    margin-left: auto;

    @include mq("md") {
        padding: $padding-pc;
    }
}

.mission__heading {
    margin-top: 0;
    margin-bottom: 0;

    @include mq("md") {
        font-size: rem(42px);
    }
}

.mission__paragraph {
    color: $white;
}

.mission__button {

    margin-top: rem(16px);
}

.roadmap {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: rem(64px);
    padding-bottom: rem(160px);
    background-image: url("../images/home/shooting-stars.gif");
    background-size: cover;
    color: $white;

    @include mq("md") {
        margin-top: rem(120px);
    }
}

.roadmap__inner {
    @include mq("md") {
        display: flex;
        justify-content: space-between;
    }
}

.roadmap__sticky-box {
    @include mq("md") {
        width: 40%;
    }
}

.roadmap__sticky {
    position: sticky;
    top: rem(150px);
}

.roadmap__scroll {
    @include mq("md") {
        width: 55%;
    }
}

.roadmap__heading {
    margin: 0;
}

.roadmap__list {
    margin-top: rem(24px);
    padding: 0;
    counter-reset: roadmap;
    list-style: none;

    @include mq("md") {
        margin-top: 0;
    }
}

.roadmap__item {
    counter-increment: roadmap;
}

.roadmap__item ~ .roadmap__item {
    margin-top: rem(32px);
}

.roadmap__subheading {
    font-size: rem(20px);
    color: $yellow;

    @include mq("md") {
        font-size: rem(32px);
    }
}

.roadmap__subheading::before {
    content: counter(roadmap);
    display: inline-flex;
    width: 1.2em;
    height: 1.2em;
    align-items: center;
    justify-content: center;
    color: $yellow;
    font-weight: 900;
    font-size: 0.9em;
    border: 2px solid currentColor;
    border-radius: 50%;
}

.roadmap__accent {
    display: inline-block;
    padding-right: rem(4px);
    font-family: $headline-font;
    font-style: italic;
    font-weight: 900;
    font-size: 0.95em;
}

.message__items {
    display: flex;
    overflow-x: scroll;
    justify-content: flex-start;
    gap: rem(8px);
    padding-left: 0;
    list-style-type: none;

    @include mq("md") {
        gap: rem(24px);
    }
}

.message__item {
    max-width: rem(300px);
    min-width: max(rem(180px), calc((100% - rem(72px))/4));
}

.message__item>figure>video {
    // WordPressに自動生成されたものを上書き
    aspect-ratio: 3 / 4 !important;
}

.works__cards {
    margin-top: rem(48px);

    @include mq("md") {
        margin-top: rem(80px);
    }
}

.works__button {
    display: table;
    margin-top: rem(16px);
    margin-left: auto;
    margin-right: auto;

    @include mq("md") {
        margin-top: rem(32px);
    }
}

.news__items {
    padding: 0;
    max-width: 840px;
    list-style-type: none;
    color: $black;

    a {
        text-decoration: none;
        color: $black;
    }
}

.news__item {
    padding-top: rem(16px);
    padding-bottom: rem(8px);
    padding-left: rem(8px);
    border-bottom: 1px solid $black;
}

.news__block {
    display: flex;
    align-items: top;
    gap: rem(24px);
    font-size: rem(16px);
    transition: 0.3s;
}

.news__block:hover {
    transform: scale(1.01);
}

.news__time {
    // タイトルのみ改行する（日付は改行しない）.
    flex-shrink: 0;
}

.news__post-title {
    margin: 0;
    // タイトルのみ改行する（日付は改行しない）.
    flex-shrink: 1;
}

.news__post-title,
.news__time {
    // news__blockから継承（フォントサイズを統一）
    font-size: inherit;
}

.news__button {
    display: table;
    margin-top: rem(16px);
    margin-left: auto;
    margin-right: auto;

    @include mq("md") {
        margin-top: rem(32px);
    }
}

.cta__heading {
    margin-bottom: 0;
}

.cta__paragraph {
    margin-top: rem(24px);
}

.cta__subheading {
    margin-top: rem(48px);
    font-size: rem(20px);

    @include mq("md") {
        font-size: rem(32px);
    }
}

.cta__h4 {
    margin-top: rem(32px);
    font-size: rem(18px);
}

.cta__button {
    margin-top: rem(32px);
}
