@use "base" as *;

.header {
    width: 100%;
    padding: 10px 0;
    background-color: $white;
    border-bottom: 1px solid $black;
    z-index: 100;
    transition: 0.3s;
}

.header-transparent {
    border-color: transparent;
    background-color: transparent;
    color: $white;

    .header__logo {
        filter: invert(1);
    }

    .header__drawer span {
        background-color: $white;
    }
}

.header a {
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    text-decoration-line: underline;
    text-decoration-color: transparent;

    @include mq("lg") {
        color: inherit;
    }
}

.header a:hover {
    text-decoration-color: inherit;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__skip-to-main {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: rem(32px);
    transform: translateY(-200%);
    background-color: $accent-color;

}

.header__skip-to-main:focus {
    transform: translateY(0);
}

.header__nav-pc {
    margin-left: auto;
}

.header__logo {
    margin: 0;
    max-width: rem(120px);
    transition: filter 0.3s;

    @include mq("md") {
        max-width: rem(158px);
    }
}

.header__drawer {
    position: relative;
    z-index: 100;
    width: rem(20px);
    height: rem(20px);
    appearance: none;
    background: transparent;
    border: none;

    @include mq("lg") {
        display: none;
    }
}

.header__drawer span {
    position: absolute;
    left: 0;
    width: inherit;
    height: rem(2px);
    background-color: $black;
    transition: 0.3s;
}

.header__drawer span:nth-child(1) {
    top: 0;
}

.header__drawer span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.header__drawer span:nth-child(3) {
    bottom: 0;
}

.header__drawer.is-active span {
    background-color: $white;
}

.header__drawer.is-active span:nth-child(1) {
    // (hamburgerの高さ - spanの高さ) / 2
    top: rem(9px);
    transform: rotate(45deg);
}

.header__drawer.is-active span:nth-child(2) {
    opacity: 0;
}

.header__drawer.is-active span:nth-child(3) {
    // (hamburgerの高さ - spanの高さ) / 2
    bottom: rem(9px);
    transform: rotate(-45deg);
}