@use "base" as *;

.nav-pc {
    display: none;
    @include mq("lg") {
        display: block;
    }
}

.nav-pc__items {
    display: flex;
}

.nav-pc__item~.nav-pc__item {
    margin-left: rem(24px);
}