@use "base" as *;

.nav-sp {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    // iOSのSafari等で検索バーの有無によりサイズが変わる（ ≒ 100vh）
    height: 100dvh;
    padding: rem(40px) 0;
    overflow: scroll;
    transform: translateX(100%);
    transition: 0.3s;
    z-index: 50;
    background-color: $accent-color;
    color: $white;

    a,
    a:visited {
        color: $white;
        font-weight: normal;
    }
}

.nav-sp.is-active {
    transform: translateX(0);
}

.nav-sp__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.nav-sp__item {
    font-size: rem(20px);
}

.nav-sp__item~.nav-sp__item {
    margin-top: rem(24px);
}