.fade-in {
    animation: fade-in 1s ease;
    animation-play-state: paused;
}

.fade-in.animated {
    animation-play-state: running;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}