.pop-up {
    animation: pop-up 1s ease;
    animation-play-state: paused;
}

.pop-up.animated {
    animation-play-state: running;
}

@keyframes pop-up {
    from {
        // screen readerから無視されることを防ぐため（0だと飛ばされることがある）
        opacity: 0.000000001;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}